.DS_Store
__pycache__/
__pycache__/set_data_geoinstances.cpython-310.pyc
__pycache__/set_data_file.cpython-310.pyc
__pycache__/set_data_geoinstances.cpython-310.pyc
__pycache__/set_data_file.cpython-310.pyc
